# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Study Archive\Semester 3-2 (Spring 21)\CSE 322 - Software Engineering Lab - Fahad\demoPRoj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
